---
import {sanityClient} from 'sanity:client'

const members = await sanityClient.fetch(`*[_type == "teamMember"]`);

---
TEST DE
{members && (
    <ul>
      {members.map((member) => (
        <li>{member.name}</li>
      ))}
    </ul>
  )}