/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-VariableFont_wght.woff2') format('woff2');
    font-weight: 500 900; 
    font-stretch: 75% 125%; 
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('/fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-display: swap;
}
